.packagelock {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.dependencies {
  list-style-type: "🇩  ";
}

.requiredPackages {
  list-style-type: "🇷  ";
}

.suggested {
  color: plum;
}

.filteredPackage {
  color: steelblue;
}