.dependencies {
  list-style-type: "🇩  ";
}

.packagelock {
  padding: 0.5em;
}

.packagelock-results {
  display: flex;
  justify-content:flex-start
}

.requiredPackages {
  list-style-type: "🇷  ";
}

.suggested {
  color:plum;
}

.filteredPackage {
  color:steelblue;
}